## ***Задание №1***

In [10]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_boston

In [ ]:
boston = load_boston()
boston

In [26]:
data = boston["data"]
feature_names = boston["feature_names"]
feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [ ]:
X = pd.DataFrame(data, columns=feature_names)
X

In [ ]:
target = boston["target"]

Y = pd.DataFrame(target, columns=["price"])
Y



*   Разбейте эти датафреймы на тренировочные (X_train, y_train) и тестовые (X_test, y_test) с помощью функции **train_test_split** так, чтобы размер тестовой выборки составлял 30% от всех данных, при этом аргумент random_state должен быть равен 42

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

In [31]:
from sklearn.linear_model import LinearRegression

In [34]:
lr = LinearRegression()
lr.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [37]:
pred_lr = lr.predict(X_test)
check_test_lr = pd.DataFrame({
    "Y_test": Y_test["price"], 
    "Y_pred_lr": pred_lr.flatten()})

check_test_lr

     Y_test  Y_pred_lr
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280
..      ...        ...
441    17.1  17.403672
23     14.5  13.385941
225    50.0  39.983425
433    14.3  16.682863
447    12.6  18.285618

[152 rows x 2 columns]

In [38]:
from sklearn.metrics import mean_squared_error

In [40]:
mean_squared_error_lr = mean_squared_error(check_test_lr["Y_pred_lr"], check_test_lr["Y_test"])
mean_squared_error_lr

21.5174442311769

## ***Задание №2***



*   Создайте модель под названием model с помощью RandomForestRegressor из модуля sklearn.ensemble

In [41]:
from sklearn.ensemble import RandomForestRegressor

In [46]:
model = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42)
model

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=12, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=1000, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [47]:
model.fit(X_train, Y_train.values[:, 0])

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=12, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=1000, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [49]:
y_pred_model = model.predict(X_test)
check_test_model = pd.DataFrame({
    "Y_test": Y_test["price"], 
    "Y_pred_model": y_pred_model.flatten()})

check_test_model.head()

     Y_test  Y_pred_model
173    23.6     22.846138
274    32.4     31.156114
491    13.6     16.297226
72     22.8     23.821036
452    16.1     17.212148

In [53]:
mean_squared_error_model = mean_squared_error(check_test_model["Y_pred_model"], check_test_model["Y_test"])
mean_squared_error_model

9.31439570598467



*   Сравните с результатом из предыдущего задания.
*   Напишите в комментариях к коду, какая модель в данном случае работает лучше.

In [55]:
print(mean_squared_error_lr)
print(mean_squared_error_model)

21.5174442311769
9.31439570598467

Модель "RandomForest" показывает более точные результаты, чем "LinearRegression". Точнее в **2,3** раза.

## ***Задание №3***

*   Вызовите документацию для класса RandomForestRegressor

In [56]:
?RandomForestRegressor



*   найдите информацию об атрибуте feature_importances_

feature_importances_ : ndarray of shape (n_features,)
    The feature importances (the higher, the more important the feature).

In [61]:
print(model.feature_importances_)

[0.03211748 0.00154999 0.0070941  0.0011488  0.01436832 0.40270459
 0.01424477 0.06403265 0.00496762 0.01169177 0.01808961 0.0123114
 0.41567892]



*   С помощью этого атрибута найдите сумму всех показателей важности

In [62]:
model.feature_importances_.sum()

0.9999999999999999

In [63]:
df_fi = pd.DataFrame({'name':X.columns, 
                                   'feature_importance':model.feature_importances_}, 
                                  columns=['feature_importance', 'name'])
df_fi

    feature_importance     name
0             0.032117     CRIM
1             0.001550       ZN
2             0.007094    INDUS
3             0.001149     CHAS
4             0.014368      NOX
5             0.402705       RM
6             0.014245      AGE
7             0.064033      DIS
8             0.004968      RAD
9             0.011692      TAX
10            0.018090  PTRATIO
11            0.012311        B
12            0.415679    LSTAT



*   установите, какие два признака показывают наибольшую важность

In [64]:
df_fi.nlargest(2, 'feature_importance')

    feature_importance   name
12            0.415679  LSTAT
5             0.402705     RM